{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}

{% block content %}
    <form id="{{ajax_div_flotante.form}}" class="crearPedido" method="POST" action="{{path('dss_proyecto_contabilidad_crear')}}">
    {{ form_widget(form) }}
    {% if ajax == true %}
             <a style="cursor:pointer" class="closeVentanaDeslizante">Salir</a>
             {% endif %}
    <input type="submit" />
    </form>
    {% if mensaje_error is defined %}
    <span class="error">{{mensaje_error}}</span>
    {% endif %}
{% endblock %}