
<pdf>

    <dynamic-page>



        <table>
            <tr>
                <td>
                    <img src="{{pdf_image('DSSProyectoBundle:grupoanton-bocadillo.png')}}" />
                </td>
                <td>
                    <p color="#AD1919">MODELO DE PRESUPUESTO</p>
                    <p  color="#AD1919">DATOS EMISOR</p>

                    <p><span color="#AD1919">CIF:</span> CIF</p>
                    <p><span color="#AD1919">DIRECCION:</span> DIRECCION</p>
                    <p><span color="#AD1919">CP:</span> CP</p>
                    <p><span color="#AD1919">TLF:</span> TLF</p>
                    <p><span color="#AD1919">FAX:</span> FAX</p>
                    <p><span color="#AD1919">EMAIL:</span> EMAIL</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span color="#AD1919"> Nº Presupuesto:</span> 0</p>

                </td>
                <td>
                    <p><span color="#AD1919"> Fecha:</span> fecha</p>
                </td>
            </tr>
        </table>
        <hr></hr>
        <p><span color="#AD1919">DATOS CLIENTE:</span></p>
        <p><span color="#AD1919">Nombre:</span> Nombre</p>
        <p><span color="#AD1919">NIF:</span> Nif</p>
        <p><span color="#AD1919">Direccion: </span> Direccion </p>
        <p><span color="#AD1919">CP:</span> CP</p>
        
        <p><span color="#AD1919">Gracias por su interés en nuestros servicios. Esta es la factura</span></p>
        
        <table>
             <tr>
                <td>
                    Concepto
                </td>
                <td>
                    Cantidad
                </td>
                <td>
                    Precio
                </td>
                <td>
                    Total
                </td>
            </tr>
            <tr>
                <td>
                    Prueba0
                </td>
                <td>
                    Prueba1
                </td>
                <td>
                    Prueba2
                </td>
                <td>
                    Prueba3
                </td>
            </tr>
        </table>
        

        




    </dynamic-page>
</pdf>



