{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}


{% block content %}
    {% for factura in facturas %}
        <a href="{{ path('dss_proyecto_contabilidad_factura', { '_format': 'pdf','pedido':factura.pedidoIdentificador }) }}" target="_blank">Factura del pedido {{factura.pedidoIdentificador}}</a> <br>
    {% endfor %}
{% endblock %}