@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(Iceland.woff) format('woff');
}

h1 {
    font-size: 2em;
    line-height: 3em;
}

body {
    /* height: 35em; */
    background-color: #eeeeee;
    /* height: 36em; */
}

#titulo {
    color: #D1D1D1;
    font-size: 50px;
    text-shadow: -1px -1px white, 1px 1px #333;
}
#subtitulo {
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 30px;
    color: #030303;
    font-size: 30px;
    font-family: 'Iceland', cursive;
    float: left;
}
#submenu {
    margin-top: 10px;
    margin-left: 30px;
    background: #901a32;
    border-radius: 20px;
}
#submenu a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
#gestion {
    margin-top: 30px;
    margin-left: 50px;
    width: 80%;
    background: #D1D1D1;
}

#panelDeControl {
    text-decoration: none;
    color: white;
    float: right;
    font-size: 20px;
}

#enlaceCrear{
    text-decoration: none;
    font-family: 'Iceland', cursive;
    color: black;
    float: right;
    margin-right: 15%;
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 24px;
}

#formLogin > form{
    margin: 10 10;
}
#formLogin > label{
    width: 160px;
    float: left;
}

a.ajax_34fd114 {
    color: black;
}

form.crearPedido > div > div > label{
    width: 260px;
    float: left;
}

form.crearPedido > div > div > label.elegir {
    width: 200px;
    float: left;
}

/* Ventana de crear */
#div_flotante{
    position: fixed;
    background-color: #AC3636;
    border: solid;
    border-color: #46000F;
    width: 400px;
    left: 50%;
    top: 30%;
    margin-left: -270;
}
form{
    margin: 10 10;
}
form  a{
    float: right;
}
form  label {
    width: 140px;
    float: left;
}


/* Menu superior herramientas */
body > header {
    /* float: left; */
    width: 81em;
    max-width: 100%;
    height: 8em;
    background-color: #901a32;
}


body > header > div.herramientas > a {
    float: left;
    /* width: 140px; */
    /* height: 100px; */
    margin-top: 20px;
    margin-left: 20px;
}
body > header > div.herramientas > a > img {
    width: 9em;
}
body > header > div.herramientas > ul.herramientas {
    list-style: none;
    float: left;
    /* height: 100px; */
    width: 67em;
    margin-left: 3em;
    margin-top: 3em;
}
body > header > div.herramientas > ul.herramientas > li.contabilidad, li.panelControl {
    /* margin-top: 25px; */
    margin-right: 2em;
    /* padding: 5px; */
    font-size: 1.6em;
    font-family: 'Iceland', cursive;
}
body > header > div.herramientas > ul.herramientas > li.contabilidad{
    float: left;
}
body > header > div.herramientas > ul.herramientas > li.contabilidad:hover,li.panelControl:hover {
    background-color: #901A32;
}
body > header > div.herramientas > ul.herramientas > li.panelControl{
    float: right;
    color: white;
}
body > header > div.herramientas > ul.herramientas > li > a {
    text-decoration: none;
    color: white;
    border-bottom: none;
}
body > header > div.herramientas > ul.herramientas > li:hover> a {
    text-decoration-line: underline ;
    color: white;
    border-bottom: 2px  solid white;
}
body > header > div.herramientas > ul.herramientas > li > div > ul.login > li > a{
    text-decoration: none;
    color: white;
    border-bottom: none;
}
body > header > div.herramientas > ul.herramientas > li > div > ul.login > li:hover > a{
    text-decoration-line: underline ;
    color: white;
    border-bottom: 2px  solid white;
}
body > header > div.herramientas > ul.herramientas > li > div{
    margin-top: -1em;
}

/* Parte de la navegacion izquierda*/
body > nav {
    float: left;
    width: 200px;
    height: 37em;
    max-height: 100%;
    background-color: #901A32;
}
body > nav > ul.navegacion {
    /* list-style: none; */
    float: left;
    /* margin-left: -35px; */
    margin-bottom: 1em;
}
body > nav > ul.navegacion > li {
    float: left;
    margin-top: 15px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Iceland', cursive;
    width: 100%;
}
body > nav > ul.navegacion > li > a {
    text-decoration: none;
    color: white;
    padding: 1px 3px;
    margin-left: 15px;
    margin-right: 10px;
    width: 80%;
}
body > nav > ul.navegacion > li > a:hover {
    font-style: italic;
}
body > nav > ul.navegacion > li > label{

}
body > nav > ul.navegacion > li > label > a{
    content: " ";
    position: absolute;
    height: 0px; width: 0px;
    border-color: transparent transparent transparent #eeeeee;
    border-style: solid;
    border-width: 15px;
}
body > nav > ul.social {
    /* list-style: none; */
    /* float: left; */
    /* margin-left: -10px; */
    margin-top: 24px;
    margin-bottom: -16px;
}

body > nav > ul.social > li:nth-child(odd) {
    float: left;
    margin-left: 1.8em;
    /* margin-right: 0em; */
}

body > nav > ul.miembrosde {
    /* list-style: none; */
    /* float: left; */
    /* margin-left: -40px; */
    text-align: center;
}

/* Cuerpo */
body > article{
    width: 82%;
    margin-top: 20px;
    margin-left: 20px;
    float: right;
    /* height: 90%; */
}

/* Pie de pagina */
body > footer{
    float: right;
    font-family: 'Iceland', cursive;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Tabla listar */
.listar {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    border: solid 1px #D1D1D1;
}
.listar td, .listar th {


}
.listar tr {
    background-color: #901a32;
}
.listar tr:nth-child(1) {
    background-color: #8A001D;
    color: white;
}
.listar tr:hover:nth-child(1){
    color: white;
    background-color: #8A001D;
}
.listar tr:hover {
    background-color: #441616;
    color: white;
}

/* Formulario de crear */
form.crear{
    margin: auto;
}

