{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}

{% block content %}

    <form id="{{ajax_div_flotante.form}}" method="POST" action="{{path('dss_proyecto_modificarPass',{"nif":nif})}}">
    {{ form(form)}}
         {% if ajax == true %}
             <a style="cursor:pointer" class="closeVentanaDeslizante">Salir</a>
             {% endif %}
    <input type="submit" />
    </form>
    {% if mensaje_error is defined %}
    <span class="error">{{mensaje_error}}</span>
    {% endif %}

{% endblock %}