{% extends app.request.isXmlHttpRequest ? "DSSProyectoBundle::layout_ajax.html.twig": "DSSProyectoBundle::plantilla.html.twig" %}


{% block content %}
    <p> {{mensaje}}</p>
    {% if ajax == true %}
             <a style="cursor:pointer" class="closeVentanaDeslizante">Salir</a>
             {% endif %}
    {% endblock%}
